temp/
deploy/
dist/
docs/
website/
paper/
images/unused
images/iconfont/*.svg
images/iconfont/*.ttf
images/iconfont/*.css
images/iconfont/*.js
*.sublime-workspace
*.sublime-project
*.dblite
*.pyc
linecount.sh
update_swbuilder.sh
deploy_list
*.backup*
