temp/
.swtemp.deploy/
deploy/
dist/
docs/
website/
paper/
styles/fontello-*/
images/unused
images/iconfont/*.svg
images/iconfont/*.ttf
images/iconfont/*.css
images/iconfont/*.js
*.sublime-workspace
*.sublime-project
*.dblite
*.pyc
*.gen
linecount.sh
source_comments.py
update_swbuilder.sh
deploy_list
*.backup*
videos/
datasets/
