@cMainText: #CCC;
@cForeground: #FFF;
@cBackground: #000;

@blue: lighten(#1754AD, 10%);
@yellow: #FF7F0E;
@gray: gray;
@active_color: @blue;
@active_color_warm: @yellow;
@active_color_gray: #333;

@menu_border_color: #555;

@panel_titlecolor: #444;

@panel_background: #181818;

@dataset_background: #202020;

.drop_shadow {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

@colorscheme_index: 2;
