#data-schema, .data-schema {
    line-height: 20px;
    font-size: 12px;
    background: white;

    li > span {
        display: block;
        position: relative;
        cursor: pointer;
        padding-left: 7px;
        //border-top:1px solid @panel_titlecolor;
        border-bottom:1px solid white;
        .panel_background();

        &:hover {
            .gradient_background(@active_color);
            color: white;
        }
        &.active, &:active {
            .gradient_background_inv(darken(@active_color, 5%));
            color: white;
        }

        &.attached {
            font-size: 11px;
            font-style: italic;
        }

        & > span.type, & > span.statistics {
            margin-left: 2px;
            padding: 0 3px;
            font-size: 10px;
            line-height: 14px;
            display: inline-block;
            vertical-align: baseline;
            color: #999;
            font-style: italic;
        }

        &:hover, &.active, &:active {
            & > span.ref, & > .ref-dropdown {
                .gradient_background(lighten(@active_color, 10%));
            }
        }
        & > span.ref {
            margin-left: 3px;
            padding: 0 3px;
            font-size: 10px;
            line-height: 14px;
            display: inline-block;
            vertical-align: baseline;
            float: left;
            line-height: 12px;
            height: 12px;
            margin: 3px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            margin-left: 0;
            &:before { content: "-"; }
            &:after { content: "-"; }
            .gradient_background(#BBB);
            &:hover {
                border: 1px solid rgba(255, 255, 255, 0.5);
            }
            &.active, &:active {
                .gradient_background_inv(@active_color_warm);
                border: 1px solid rgba(0, 0, 0, 0.1);
                color: black;
            }
        }

        & > .ref-dropdown {
            float: right;
            margin-left: 3px;
            padding: 0 3px;
            font-size: 10px;
            line-height: 14px;
            display: inline-block;
            vertical-align: baseline;
            line-height: 12px;
            height: 12px;
            margin: 3px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            margin-left: 0;
            .gradient_background(#BBB);
            &:hover {
                border: 1px solid rgba(255, 255, 255, 0.5);
            }
            &.active, &:active {
                .gradient_background_inv(lighten(@active_color, 60%));
                border: 1px solid rgba(0, 0, 0, 0.1);
                color: black;
            }
        }
    }
    ul {
        ul {
            margin-left: 10px;
        }
    }
}
