// iVisDesigner
// Author: Donghao Ren, PKUVIS, Peking University, 2013.04
// See LICENSE.txt for copyright information.

@panel_titlecolor: #666;

.tab {
    margin-bottom: 5px;
    & > .header {
        white-space: nowrap;
        & > [data-tab] {
            display: inline-block;
            line-height: 15px;
            height: 15px;
            padding: 2px 5px;
            cursor: pointer;
            &.active {
                background-color: rgba(0, 0, 0, 0.1);
            }
            &:hover, &:active {
                color: white;
                background-color: @active_color;
            }
        }
    }
    & > .tabs {
        padding: 4px;
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.panel {
    position: fixed;
    display: block;
    border: 1px solid @panel_titlecolor;
    overflow: hidden;
    z-index: 10;
    .select_none();
    .panel_background();
    .drop_shadow();

    &.minimized:not(.full-title) {
        height: 5px !important;
        width: 60px !important;
        .resize { display: none; }
        .title-wrapper:hover .title { display: none; }
    }

    .title-wrapper {
        position: absolute;
        left: 0; right: 0; top: 0;
        height: 5px;
        line-height: 20px;
        color: white;
        font-size: 12px;
        cursor: pointer;
        box-shadow: 0 0 3px gray;
        background: @panel_titlecolor;
         .gradient_background(@panel_titlecolor);
        .title {
            display: none;
            position: absolute;
            left: 0px;
            top: 0;
            bottom: 5px;
            height: 20px;
            padding: 0 5px;
            overflow: hidden;
            background: @panel_titlecolor;
        }
        .buttons {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            div {
                vertical-align: top;
                display: inline-block;
                height: 5px;
                width: 20px;
                margin: 0; padding: 0;
                text-align: center;
                i { display: none; }
            }
            div:hover {
                .gradient_background_inv(darken(@panel_titlecolor, 10%));
            }
        }
    }

    .content-wrapper {
        position: absolute;
        left: 0; right: 0; top: 5px; bottom: 0;
        overflow: hidden;
    }

    &.full-title {
        .content-wrapper { top: 20px; }
        .title-wrapper {
            height: 20px;
            .title {
                display: block;
                position: absolute;
                left: 0px;
                right: 40px;
                bottom: 5px;
                height: 20px;
                padding: 0 5px;
                background: none;
                overflow: hidden;
            }
            .buttons {
                div {
                    height: 20px;
                    i { display: inline; }
                }
            }
        }
        &.minimized {
            height: 20px !important;
            .resize { display: none; }
        }
    }

    &.scroll .content-wrapper {
    }
    .resize {
        position: absolute;
        bottom: 0; right: 0;
        width: 8px;
        height: 8px;
        cursor: se-resize;
    }
}

#log-container {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    ul {
        margin: 2px;
        li {
            font-size: 10px;
        }
    }
}

#data-schema, .data-schema {
    line-height: 20px;
    font-size: 12px;
    background: white;

    li > span {
        display: block;
        position: relative;
        cursor: pointer;
        padding-left: 7px;
        //border-top:1px solid @panel_titlecolor;
        border-bottom:1px solid white;
        .panel_background();

        &:hover {
            .gradient_background(@active_color);
            color: white;
        }
        &.active, &:active {
            .gradient_background_inv(darken(@active_color, 5%));
            color: white;
        }

        & > span.type {
            margin-left: 3px;
            padding: 0 3px;
            font-size: 10px;
            line-height: 14px;
            display: inline-block;
            vertical-align: baseline;
            &:before { content: "-"; }
            &:after { content: "-"; }
        }

        &:hover > span.ref, &.active > span.ref, &:active > span.ref {
            .gradient_background(lighten(@active_color, 10%));
        }
        & > span.ref {
            float: left;
            line-height: 12px;
            height: 12px;
            margin: 3px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            margin-left: 0;
            .gradient_background(#BBB);
            &:hover {
                border: 1px solid rgba(255, 255, 255, 0.5);
            }
            &.active, &:active {
                .gradient_background_inv(@active_color_warm);
                border: 1px solid rgba(0, 0, 0, 0.1);
                color: black;
            }
        }
    }
    ul {
        ul {
            margin-left: 10px;
        }
    }
}

#object-list {
    line-height: 22px;
    font-size: 14px;

    & > div.item {
        display: block;
        position: relative;
        cursor: pointer;
        padding-left: 10px;

        span.type {
            font-size: 10px;
            line-height: 14px;
            font-style: italic;
            color: #999;
        }

        span.buttons {
            float: right;
            display: inline-block;

            span {
                float: left;
                padding: 0 3px;
                font-size: 10px;
                line-height: 14px;
                height: 14px;
                margin: 3px;
                border: 1px solid rgba(0, 0, 0, 0);
                margin-left: 0;
                .gradient_background(#BBB);
                &:hover {
                    border: 1px solid rgba(255, 255, 255, 0.5);
                }
                &.active, &:active {
                    .gradient_background_inv(@active_color_warm) !important;
                    border: 1px solid rgba(0, 0, 0, 0.1) !important;
                    color: black !important;
                }
            }
        }
        &:hover, &:active, &.selected {
            span.buttons span {
                .gradient_background(lighten(@active_color, 10%));
                color: white;
            }
        }

        &:hover {
            .gradient_background(@active_color);
            color: white;
        }
        &:active, &.selected {
            .gradient_background_inv(darken(@active_color, 5%));
            color: white;
        }
    }

    & > .divider {
        height: 0px;
        outline: 1px solid @active_color;
    }
}

#tools-container {
    .tool-icons { padding: 5px; }
}

#panel-page-container {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6);
}

#panel-style-display {
    font-size: 13px;
    line-height: 19px;

    .item-caption {
        background-color: rgba(0, 0, 0, 0.02);
        padding-left: 5px;
        font-size: 11px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
        i {
            text-align: center;
            width: 10px;
            display: inline-block;
        }
    }

    .item-action {
        .field {
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            white-space: nowrap;
            .name {
                float: left;
                width: 30%;
                font-size: 11px;
                line-height: 19px;
                text-align: right;
                span {
                    padding-right: 4px;
                    margin-right: 3px;
                }
                background-color: rgba(0, 0, 0, 0.01);
                cursor: pointer;
            }
            .val {
                float: left;
                width: 70%;
            }
        }
    }
    .plain-color {
        display: inline-block;
        width: 1em;
        position: relative;
        outline: 1px solid white;
        box-shadow: 0 0 2px black;
        top: 2px;
        width: 15px;
        height: 15px;
        cursor: pointer;
    }
    input {
        border: none;
        margin: 0;
        padding: 0;
        background: none;
        width: 100%;
        &.dirty {
            color: @active_color;
        }
    }
}

#panel-property-container {
    line-height: 23px;
    font-size: 13px;
    padding: 5px;

    .property-item {
        display: inline-block;
        white-space: nowrap;
        margin-right: 4px;
    }
}
