// iVisDesigner
// Author: Donghao Ren, PKUVIS, Peking University, 2013.04
// See LICENSE.txt for copyright information.

@panel_titlecolor: #555;

.btn {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    font-size: 13px;
    padding: 0 5px;
    margin: 3px;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    .gradient_background(#CCC);

    &:hover {
        .gradient_background(@active_color);
        color: white;
    }
    &.active {
        .gradient_background_inv(darken(@active_color, 5%));
        color: white;
    }
}

.panel {
    position: fixed;
    display: block;
    border: 1px solid @panel_titlecolor;
    overflow: hidden;
    z-index: 10;
    border-radius: 2px;
    .panel_background();
    .drop_shadow();

    &.minimized {
        height: 20px !important;
        .resize {
            display: none;
        }
    }

    .title-wrapper {
        position: absolute;
        left: 0; right: 0; top: 0;
        height: 20px;
        line-height: 20px;
        color: white;
        font-size: 12px;
        cursor: pointer;
        box-shadow: 0 0 3px gray;
        .gradient_background(@panel_titlecolor);
        .title {
            display: block;
            position: absolute;
            left: 5px; right: 40px;
            top: 0; bottom: 0;
            overflow: hidden;
        }
        .buttons {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            span {
                display: inline-block;
                line-height: 20px;
                height: 20px;
            }
            span:hover {
                .gradient_background_inv(darken(@panel_titlecolor, 10%));
            }
            img {
                width: 8px; height: 8px;
                padding: 6px;
            }
        }
    }
    .content-wrapper {
        position: absolute;
        left: 0; right: 0; top: 20px; bottom: 0;
        overflow: hidden;
    }
    &.scroll .content-wrapper {
        overflow-y: scroll;
    }
    .resize {
        position: absolute;
        bottom: 0; right: 0;
        width: 10px;
        height: 10px;
        background: url(imgs/corner.svg);
    }
}

#log-container {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    ul {
        margin: 2px;
        li {
            font-size: 10px;
        }
    }
}

#data-schema {
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    left: 0; right: 0; top: 0; bottom: 0;

    line-height: 20px;
    font-size: 14px;
    li > span {
        display: block;
        cursor: pointer;
        padding-left: 10px;
        border-radius: 2px 0 0 2px;
        &:hover {
            .gradient_background(@active_color);
            color: white;
        }
        &.active {
            .gradient_background_inv(darken(@active_color, 5%));
            color: white;
        }

        & > span {
            padding-left: 3px;
            font-size: 10px;
            display: inline;
            &:before { content: "-"; }
            &:after { content: "-"; }
        }
    }
    &> ul {
        background-color: rgba(0, 0, 0, 0.15);
        ul {
            background-color: rgba(255, 255, 255, 0.4);
        }
    }
    ul {
        ul {
            margin-left: 5px;
        }
    }
}

#panel-page-container {
    padding: 10px;
}

#panel-style-container {
    font-size: 13px;
    padding: 5px;
    line-height: 19px;

    .color-selector {
        display: inline-block;
        vertical-align: top;
        width: 17px; height: 17px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        cursor: pointer;
        border-radius: 2px;
    }
    .group {
        display: inline-block;
        white-space: nowrap;
        border-radius: 2px;
        margin-right: 4px;
    }
}

#popup-container {
    position: fixed;
    left: 0;
    top: 0;
}

.popup {
    position: absolute;
    .panel_background();
    .drop_shadow();
    border-radius: 2px;
    border: 1px solid @panel_titlecolor;
    z-index: 1000;

    .actions {
        position: absolute;
        left: 0; right: 0; bottom: 0;
        height: 30px;
        line-height: 30px;
        text-align: right;
        background-color: rgba(0, 0, 0, 0.2);
    }
}

.popup[data-popup="color-selector"] {
    h3 {
        font-size: 12px;
        margin: 5px 5px;
    }
    p {
        margin: 2px 5px;
    }
    .predefined {
        span {
            display: inline-block;
            vertical-align: top;
            width: 17px;
            height: 17px;
            margin: 2px 0;
            border-radius: 2px;
            cursor: pointer;
            &:hover {
                border: 1px solid white;
                box-shadow: 0 0 2px black;
                width: 15px;
                height: 15px;
            }
        }
    }
}
