// iVisDesigner
// Author: Donghao Ren, PKUVIS, Peking University, 2013.04
// See LICENSE.txt for copyright information.

@panel_titlecolor: #555;

.tab {
    margin-bottom: 5px;
    & > .header {
        border-radius: 2px 2px 0 0;
        white-space: nowrap;
        & > [data-tab] {
            display: inline-block;
            line-height: 15px;
            height: 15px;
            padding: 2px 5px;
            border-radius: 2px 2px 0 0;
            cursor: pointer;
            &.active {
                background-color: rgba(0, 0, 0, 0.1);
            }
            &:hover, &:active {
                color: white;
                background-color: @active_color;
                border-radius: 2px;
            }
        }
    }
    & > .tabs {
        padding: 4px;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 0 0 2px 2px;
    }
}

.panel {
    position: fixed;
    display: block;
    border: 1px solid @panel_titlecolor;
    overflow: hidden;
    z-index: 10;
    border-radius: 2px;
    .select_none();
    .panel_background();
    .drop_shadow();

    &.minimized {
        height: 20px !important;
        .resize {
            display: none;
        }
    }

    .title-wrapper {
        position: absolute;
        left: 0; right: 0; top: 0;
        height: 20px;
        line-height: 20px;
        color: white;
        font-size: 12px;
        cursor: pointer;
        box-shadow: 0 0 3px gray;
        .gradient_background(@panel_titlecolor);
        .title {
            display: block;
            position: absolute;
            left: 5px; right: 40px;
            top: 0; bottom: 0;
            overflow: hidden;
        }
        .buttons {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            span {
                display: inline-block;
                line-height: 20px;
                height: 20px;
                width: 20px;
                text-align: center;
            }
            span:hover {
                .gradient_background_inv(darken(@panel_titlecolor, 10%));
            }
        }
    }
    .content-wrapper {
        position: absolute;
        left: 0; right: 0; top: 20px; bottom: 0;
        overflow: hidden;
    }
    &.scroll .content-wrapper {
        overflow-y: scroll;
    }
    .resize {
        position: absolute;
        bottom: 0; right: 0;
        width: 8px;
        height: 8px;
        background: url(imgs/corner.svg);
    }
}

#log-container {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    ul {
        margin: 2px;
        li {
            font-size: 10px;
        }
    }
}

#data-schema {
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    left: 0; right: 0; top: 0; bottom: 0;

    line-height: 20px;
    font-size: 14px;
    li > span {
        display: block;
        cursor: pointer;
        padding-left: 10px;
        border-radius: 2px 0 0 2px;
        &:hover {
            .gradient_background(@active_color);
            color: white;
        }
        &.active {
            .gradient_background_inv(darken(@active_color, 5%));
            color: white;
        }

        & > span {
            padding-left: 3px;
            font-size: 10px;
            display: inline;
            &:before { content: "-"; }
            &:after { content: "-"; }
        }
    }
    &> ul {
        background-color: rgba(0, 0, 0, 0.15);
        ul {
            background-color: rgba(255, 255, 255, 0.4);
        }
    }
    ul {
        ul {
            margin-left: 5px;
        }
    }
}

#panel-page-container {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6);
}

#panel-style-container {
    font-size: 13px;
    padding: 5px;
    line-height: 19px;

    .group {
        display: inline-block;
        white-space: nowrap;
        border-radius: 2px;
        margin-right: 4px;
    }
}

#popup-container {
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
}

.popup {
    position: absolute;
    overflow: hidden;
    .panel_background();
    .drop_shadow();
    border-radius: 2px;
    border: 1px solid @panel_titlecolor;

    .actions {
        position: absolute;
        white-space: nowrap;
        left: 0; right: 0; bottom: 0;
        height: 19px;
        line-height: 19px;
        padding: 3px;
        text-align: right;
        background-color: rgba(0, 0, 0, 0.2);
        .btn {
            font-size: 12px;
            line-height: 13px;
            height: 13px;
            padding: 3px 5px;
            margin: 0;
        }
    }
    .resize {
        position: absolute;
        bottom: 0; right: 0;
        width: 8px;
        height: 8px;
        background: url(imgs/corner.svg);
    }
}

.popup[data-popup="color-selector"] {
    h3 {
        font-size: 12px;
        margin: 5px 5px;
    }
    p {
        margin: 2px 5px;
        line-height: 19px;
    }
    .predefined {
        span {
            display: inline-block;
            vertical-align: top;
            width: 17px;
            height: 17px;
            margin: 2px 2px;
            border-radius: 2px;
            cursor: pointer;
            box-shadow: 0 0 2px gray;
            &:hover, &.active {
                border: 1px solid white;
                box-shadow: 0 0 2px black;
                width: 15px;
                height: 15px;
            }
        }
    }
    .selected-color {
        display: inline-block;
        width: 17px;
        height: 17px;
        border-radius: 2px;
        border: 1px solid #888;
        vertical-align: top;
    }
    .hcl-picker .picker {
        display: inline-block;
        border: 2px solid gray;
        background-color: gray;
        padding: 2px;
        border-radius: 2px;
        white-space: nowrap;
        & > span {
            vertical-align: top;
            position: relative;
            display: inline-block;
            box-shadow: 0 0 4px black;
        }
        /*
        table {
            line-height: 19px;
            tr { height: 22px; }
            td:first-child {
                text-align: right;
                padding-right: 2px;
            }
        }
        */
        .xy-marker {
            display: block;
            position: absolute;
            left: 0; top: 0;
            border-radius: 2px;
            width: 2px; height: 2px;
            border: 1px solid white;
            box-shadow: 0 0 1px black;
        }
        .l-marker {
            display: block;
            position: absolute;
            left: 0; top: 0;
            height: 1px;
            width: 18px;
            border: 1px solid white;
            box-shadow: 0 0 1px black;
        }
        .picker-canvas, .picker-canvas-w {
            width: 250px; height: 100px;
            cursor: crosshair;
        }
        .picker-canvas-side, .picker-canvas-side-w {
            width: 20px; height: 100px;
            cursor: crosshair;
        }
    }
}
