// iVisDesigner
// Author: Donghao Ren, PKUVIS, Peking University, 2013.04
// See LICENSE.txt for copyright information.

@import "reset.less";
@import "images.less";
@import "defines.less";
@import "basichtml.less";
@import "menu.less";
@import "panel.less";
@import "controls.less";

body {
    .select_none();
    overflow: hidden;
    font-family: @main_font;
    font-size: 12px;
}
pre {
    font-family: @mono_font;
}

#view {
    position: fixed;
    left: 0; right: 0;
    top: @menubar_height;
    bottom: 0;
    canvas {
        position: absolute;
        left: 0; top: 0;
    }
}
